<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.usb.host" />
    
    <!-- Theme.NoDisplay makes the Activity completely invisible to the user -->
    <application android:label="VolFix" android:icon="@android:drawable/ic_menu_manage" android:theme="@android:style/Theme.NoDisplay">
        
        <!-- Must be an Activity, not a Receiver -->
        <activity android:name=".UsbAttachActivity" android:exported="true" android:excludeFromRecents="true" android:noHistory="true" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        
    </application>
</manifest>